---
import { ClientRouter } from "astro:transitions";
import "@styles/global.css";
import { SITE_TITLE } from "src/consts";

export interface Props {
	title: string;
	description: string;
	permalink: string;
  imageUrl?: string;
}

const { title, description, permalink, imageUrl } = Astro.props;
const rssUrl = Astro.site!.href + "rss";
---

<meta charset="utf-8" />
<meta name="viewport" content="width=device-width" />
<link rel="icon" href="/favicon.ico" />
<meta name="format-detection" content="telephone=no" />

<title>{title}</title>
<meta name="title" content={title} />
<meta name="description" content={description} />

<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Instrument+Serif:ital@0;1&family=Nunito+Sans:ital,opsz,wght@0,6..12,200..1000;1,6..12,200..1000&display=swap" rel="stylesheet">

<meta property="og:type" content="website" />
<meta property="og:url" content={permalink} />
<meta property="og:title" content={title} />
<meta property="og:description" content={description} />
<meta property="og:image" content={imageUrl ? imageUrl : ""} />

<link
	rel="alternate"
	type="application/rss+xml"
	title={SITE_TITLE}
	href={rssUrl}
/>

<ClientRouter />
